<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-key">
          <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class="col-lg-12 login-title">
          <h3>REGISTRATION</h3>
        </div>
        <div class="col-lg-12 login-form">
          <div class="col-lg-12 login-form">
            <form   (ngSubmit)="signup()">
              <div class="form-group">
                <label class="form-control-label"
                  >AccountNumber<span class="text-danger">*</span></label
                >
                <input
                  
                  type="text"
                  class="form-control"
                  name="accountNumber"
                  [(ngModel)]="regis.accountNumber"
                  required
                  #empid="ngModel"
                  [class.is-invalid]="empid.invalid && empid.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="empid.valid || empid.untouched"
                  >*AccountNumber is required!</small
                >
              </div>
  
              <div class="form-group">
                <label class="form-control-label"
                  >AccountHolderName <span class="text-danger">*</span></label
                >
                <input
                  
                  type="text"
                  class="form-control"
                  name="accountHolderName"
                  [(ngModel)]="regis.accountHolderName"
                  required
                  #accountHolderName="ngModel"
                  [class.is-invalid]="accountHolderName.invalid && accountHolderName.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="accountHolderName.valid || accountHolderName.untouched"
                  >*First is required!</small
                >
              </div>
  
              <!-- <div class="form-group">
                <label class="form-control-label">Middel Name</label>
                <input
                  name="fullname"
                  type="text"
                  class="form-control"
                  [(ngModel)]="registration.middleName"
                />
              </div> -->
  
              <div class="form-group">
                <label class="form-control-label">EmailId</label>
                <input
                  name="emailId"
                  type="text"
                  class="form-control"
                  [(ngModel)]="regis.emailId"
                />
              </div>
  
              <div class="form-group"></div>
  
              <label class="form-control-label"
                >Mobile Number <span class="text-danger">*</span></label
              >
              <input
                name="mobileNo"
                type="tel"
                class="form-control bg-transparent border border-info mb-2"
                [(ngModel)]="regis.mobileNo"
                required
                maxlength="13"
                placeholder="+910000000000"
                pattern=""
                #mobileNo="ngModel"
                [class.is-invalid]="mobileNo.invalid && mobileNo.touched"
              />
              <small
                class="text-danger"
                [class.d-none]="mobileNo.value || mobileNo.untouched"
                >*Mobile Number is required!</small
              >
  
              <!-- <div class="form-group">
                <label class="form-control-label"
                  >Email Address <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  [(ngModel)]="registration.emailId"
                  required
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="email.valid || email.untouched"
                  >*Email is required!</small
                >
              </div> -->
  
              <!-- <div class="form-group">
                <label class="form-control-label"
                  >Password <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="registration.password"
                  required
                  maxlength="10"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                /> -->
                <!-- <small
                  class="text-danger"
                  [ngClass]="{ 'd-none': password.valid || password.untouched }"
                  >Password must contain 10 characters, uppercase, lowercase,
                  number and one special character:</small
                >
              </div> -->
  
              <!-- <div class="form-group">
                <label class="form-control-label"
                  >Confirm Password <span class="text-danger">*</span></label
                > -->
                <!-- <input
                  type="password"
                  class="form-control"
                  name="cpassword"
                  #cpassword="ngModel"
                  (ngModel)="(registration.password)"
                  required
                  #password="ngModel"
                  [class.is-invalid]="cpassword.invalid && cpassword.touched"
                />
                <small
                  class="text-danger"
                  [ngClass]="{
                    'd-none':
                      cpassword.value == password.value || cpassword.untouched
                  }"
                >
                  *Password and Confirm Password must be the same!</small
                >
              </div> -->
  
              <div class="col-lg-12 loginbttm">
                <div class="col-lg-6 login-btm login-text">
                  <!-- Error Message -->
                  <button
                    type="submit"
                    class="btn btn-outline-primary"
                    style="margin-bottom: 30px"
                    
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    Sign up
                  </button>
                  <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-primary" id="exampleModalLabel">
                        Registration Successfull!
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-bs-label="Close"
                      >
                        <span aria-bs-hidden="true">&times;</span>
                      </button>
                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Login</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
              <!-- Button trigger modal -->
              
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-primary" id="exampleModalLabel">
                        Registration Successfull!
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
  
            <div></div>
          </div>
          <a style="color: white; margin-top: 10px" routerLink="/login"
            >Already Registered? Click to Login</a
          >
        </div>
      </div>
    </div>
  </div>
  
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
    type="text/css"
  />
  