<div class="container-fluid">
    <div class="row">
      <div class="bg-image"></div>
      <div class="login-form">
        <div class="login">
          <div class="login-content">
            <h3 class="login-heading">Welcome</h3>
  
            <!-- Sign In Form -->
            <form (ngSubmit)="login()">
              <small class="text-danger">{{msg}}</small>
              <div class="form-group">
                <label for="floatingInput">Account Number</label>
                <input type="number" id="floatingInput" name="accountNumber" [(ngModel)]="log.accountNumber" class="form-control">
              </div>
  
              <div class="form-group">
                <label for="floatingPassword">Account Holder Name</label>
                <input type="text" id="floatingPassword" name="accountHolderName" [(ngModel)]="log.accountHolderName" class="form-control" required>
              </div>
  
              <div class="form-actions">
                <button type="submit" class="btn">Login</button>
                <div class="forgot-password">
                  <a routerLink="/register">Forgot password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  