<div>
    <h1>Loan Details</h1>
  
    <!-- Loans Table -->
    <table mat-table [dataSource]="loans" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Loan ID </th>
        <td mat-cell *matCellDef="let loan"> {{ loan.loan.id }} </td>
      </ng-container>
  
      <ng-container matColumnDef="loanAmount">
        <th mat-header-cell *matHeaderCellDef> Loan Amount </th>
        <td mat-cell *matCellDef="let loan"> {{ loan.loan.loanAmount }} </td>
      </ng-container>
  
      <ng-container matColumnDef="accountHolderName">
        <th mat-header-cell *matHeaderCellDef> Account Holder Name </th>
        <td mat-cell *matCellDef="let loan"> {{ loan.accountHolderName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef> Account Number </th>
        <td mat-cell *matCellDef="let loan"> {{ loan.accountNumber }} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let loan"> {{ loan.loan.status }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  